/* Reset dello stile NON CANCELLARE */
body, html{background: var(--bianco); color:var(--nero); 
    font-family: 'Montserrat', sans-serif; 
    font-size: 16px; box-sizing: border-box;margin: 0;padding: 0;}
    *,*:before,*:after{ box-sizing: border-box; }
    h1,h2,h3,h4,h5,h6, p, ol, ul{margin: 0;padding: 0;}
    ol,ul{list-style-type: none;}img{height: auto;}
    h1{font-size: 4rem;} h2{font-size: 3rem;} h3{font-size: 2rem;} h4{font-size: 1rem;} h5{font-size: 0.8rem;} h6{font-size: 0.6rem;}a{text-decoration:none}

    /*COLORI*/
    :root {
        --celeste:#38E2FC;
        --viola:#AAA7D6;
        --rosa:#F6D1C0;
        --giallo:#F5E524;
        --rosso:#FC6044;
        --nero:#151515;
        --bianco:#fff;
        --grigio:#C6C6C6;

    }
    /**/


    /*NAVBAR*/
        .nav{
            background-color: var(--bianco);
            position: fixed;
            top:0; 
            left:0;
            z-index: 9999;
            width: 100%;
        }
        .navbar-content{
            max-width: 1200px;width: 100%;
            margin: 0 auto; 
            display: flex;
            justify-content: space-between;
        }
        .navbar-logo{
            width: 50px; height: 50px;
            padding: 5px;
        }
        .navbar-logo-extended{
        width: 200px; height: 50px;
        padding: 5px;
        }
        .navbar-menu{
            padding-bottom: 0;
            margin-bottom: 0;
        }
        .navbar-menu li{
            display: inline-block;
        }
        .navbar-menu li a{
            color:var(--nero); 
            opacity: 0.8;
            display: block;
            padding: 16px;
            text-transform: uppercase;
        }
        .icon-hamburger{
            display: none;
        }

        .active{
            color: var(--celeste) !important;
            font-weight: bold !important;
        }

        @media (max-width: 768px){
            .navbar-menu{
              position: absolute;
              top:50px;
              background-color: var(--bianco) ;
              width: 100%;
              height: 100vh;
              height: 0vh;
              overflow: hidden;
              transition: all 1s cubic-bezier(.215, .61, .355, 1);
              text-align: center;
            }
            .navbar-logo{
                display: none;
            }

            .navbar-menu li{
                width: 100%;
                border-bottom: 1px solid #444
            }
            .menu-open .navbar-menu{
                height: 100vh;
                padding: 3%;
            }

            .icon-hamburger{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                color: var(--nero);
            }

        }

    /**/
    
    /*RULE*/
        .section2,.section3,.section4,.section5{
            width: 100%;   
            height: auto;
            z-index: 1;
            margin-top: 200px;
            scroll-margin-top: 9rem;
        }
        .section1{
            width: 100%;   
            height: 100vh;
            z-index: 0;
            display:flex; 
            flex-wrap: wrap; 
            justify-content: flex-start; 
            align-items: center; 
            align-content: center;
        }

        .centratutto{
            text-align: center;
        }

        .flex-center{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
    /**/

    .form-contatti{
        background-color: var(--bianco); 
        border: solid black ; 
        width: 500px;
        height: auto;
        padding: 37px;
    }


    .team{
        display:inline-flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: auto;
        flex-wrap: wrap;
        gap: 10px;
    }
    .team .team-member{
        background: var(--rosa);
        padding: 20px;
        border-radius: 10px;
        flex-basis: 25%;
    }

    .contattaci{
        width: 200px;
        height: 100px;
    } 

    .space-between{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    } 



    .masthead{
        background:url("/assets/bg-section1.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }

    .freccia-dx-sx, .freccia-bott{
        width: 100px; 
        height: 100px;
    }


/* MOBILE*/
    @media (max-width: 767px) {
        .font_grande{
            font-size: 50px;
        }
        .font_normale{
            font-size: 20px;
        }
        .font_piccolo{
            font-size: 16px;
        }
        .show{
            text-align:center;
            background-color: var(--bianco);
            width: 100%;
        }

        .il_nostro_team{
            width: 250px;
            height: 100px;
        }

        .mission{
            width: 250px;
            height: 150px;
        }

        div#altezza_navbar.container{
            height: 100px;
        }
        .gap{
            gap: 70px !important;
        }
        .team .team-member{
            flex-basis: 100%;
        }
        .freccia-dx-sx{
            display: none;
        }

        .form-contatti{
            width: 350px;
        }

    }
/**/

/* TABLET */
@media (min-width: 767px) {
    .font_grande{
        font-size: 70px;
    }
    .font_normale{
        font-size: 24px;
    }
    .font_piccolo{
        font-size: 20px;
    }
    .il_nostro_team{
        width: 500px;
        height: 200px;
    }

    .mission{
        width: 300px;
        height: 150px;
    }

    .show{
        text-align:center;
        background-color: var(--bianco);
    }

    div#altezza_navbar.container{
        height: 100px;
    }
    .gap{
        gap: 100px !important;
    }
    .freccia-bott{
        display: none;
    }
    .navbar-logo-extended{
        display: none;
    }
}

/* DESKTOP */
@media (min-width: 1400px) {
    .font_grande{
        font-size: 126px;
    }
    .font_normale{
        font-size: 24px;
    }
    
    .font_piccolo{
        font-size: 20px;
    }

    .il_nostro_team{
        width: 700px;
        height: 200px;
    }
    .mission{
        width: 400px;
        height: 200px; 
    }
    
    .show{
        text-align:center;
        background-color: var(--bianco);
    }
    .gap{
        gap: 150px !important;
    }
    .team .team-member{
        flex-basis: 30%;
    }
    .freccia-bott{
        display: none;
    }
    .navbar-logo-extended{
        display: none;
    }
}
/**/
